.panel-group {
	border-bottom-color:#ccc;
}

.box-header {
	background:#fff;
	color:#555;
}

.fa.test {
	color:#001a23;
}

#task-title {
	color: #001a23;
}

#task-assigned-by {
	color: #847777;
}

#remark_view {
	border-color: #ccc;
}

.remark-item {
	box-shadow: #f7f7f7;
	border-color: #f9f9f9;
	background: #fff;
}

.remark-folder-title a{
	color: #000;
}

.remark-text {
	border-color: #ccc;
}

#remarks-section {
	background: #fff;
}


